@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #f7f7f7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-darkRed: #711324;
  --color-beige: #DAD0C0;  
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Cormorant Garamond', serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Cinzel', serif;
}
